{{ with . }}

{{ if .certificate}}
<h2>Certificate</h2>
<p>
  Get a certificate on successfully completing the course and completing 95% of the course work. This certificate will be signed by the course instructor.
</p>
<div class="certificate">
  <img src="{{.certificate}}"></img>
</div>
<p>
  This is a sample certificate and the latest one might defer in design. There will always be a dedicated certificate identification and a URL to verify it at. This should enable anyone to check the authenticity of the certificate.
</p>
{{ end }}
{{ end }}
