{{ with . }}

<h2>How this is different from Others</h2>

<div class="compare-table">
<table >
  <tr class="compare-row-head">
    <th>Feature</th>
    <th>Us!</th>
    <th>Others</th>
  </tr>
  {{ range .compare }}
  <tr class="compare-row">
    <td class="compare-row-data"> {{.feature}} </td>

    <td class="compare-pjbro">
      {{if .us }}
        <i class="bi bi-check-circle-fill compare-tick tick-green"></i>
      {{else}}
        <i class="bi bi-x-circle-fill compare-tick tick-red"></i>
      {{end}}
    </td>
    <td>
      {{if .others }}
        <i class="bi bi-check-circle-fill compare-tick tick-green"></i>
      {{else}}
        <i class="bi bi-x-circle-fill compare-tick tick-red"></i>
      {{end}}
    </td>
  </tr>

  {{ end }}
</table>
</div>
{{ end }}
