{{ with . }}
<h2>includes</h2>
<div class="prod-content-summary">
    {{if .courseCount}}
    <div class="bullet-point">
      <i class="bi bi-folder-fill prod-content-summary-tick"></i>
      Collection of&nbsp<b>{{ .courseCount }}&nbsp</b> Courses.
    </div>
    {{end}}
    <div class="bullet-point">
      <i class="bi bi-play-btn prod-content-summary-tick"></i>
      <b>{{ .length }}&nbsp</b> of recorded video lectures.
    </div>

    <div class="bullet-point">
      <i class="bi bi-check2-square prod-content-summary-tick"></i>
      <b>{{ .lessons }}&nbsp</b> lessons.
    </div>

    <div class="bullet-point">
      <i class="bi bi-pci-card prod-content-summary-tick"></i>
      <b>{{if .emulator}}Emulator{{end}} {{if .hardware}}Hardware{{end}}</b>&nbspbased experiments.
    </div>

    {{if .files}}
    <div class="bullet-point">
      <i class="bi bi-cloud-arrow-down prod-content-summary-tick"></i>
      <b>{{ .files }}&nbsp</b> downloadable resources.
    </div>
    {{end}}

    {{if .workshops}}
    <div class="bullet-point">
      <i class="bi bi-person-video3 prod-content-summary-tick"></i>
      <b>Workshops&nbsp</b> by industry experts.
    </div>
    {{end}}

    {{ if .quizzes }}
    <div class="bullet-point">
      <i class="bi bi-bookmark-check prod-content-summary-tick"></i>
      <b>{{ .quizzes }}&nbsp</b> Quiz questions to reinforce learning.
    </div>
    {{ end }}

    {{ if .certificate }}
      <div class="bullet-point">
        <i class="bi bi-trophy prod-content-summary-tick"></i>
        <b>Certificate&nbsp</b> on completion of course.
      </div>
    {{ end }}

    <div class="bullet-point">
      <i class="bi bi-card-list prod-content-summary-tick"></i>
      Cheat sheets and/or quick reference guides.
    </div>

    <div class="bullet-point">
      <i class="bi bi-git prod-content-summary-tick"></i>
      Case studies based on open-source code.
    </div>

    <div class="bullet-point">
      <i class="bi bi-code-square prod-content-summary-tick"></i>
      Coding exercises and challenges.
    </div>

    {{ if .projects }}
    <div class="bullet-point">
      <i class="bi bi-hammer prod-content-summary-tick"></i>
      <b>{{ .projects }}&nbsp</b>End-to-end project implementations.
    </div>
    {{ end }}

    {{ if .demo }}
    <div class="bullet-point">
      <i class="bi bi-hammer prod-content-summary-tick"></i>
      <b>{{ .demo }}&nbsp</b>demonstrations.
    </div>
    {{ end }}

    {{if .newcontent}}
    <div class="bullet-point">
      <i class="bi bi-emoji-sunglasses prod-content-summary-tick"></i>
      <b>New content regularly added!</b>
    </div>
    {{end}}
</div>
</br>
{{ end }}
