{{ with . }}

<div class="prod-description">
  <p>
    {{ .description | markdownify }}
  </p>
  <p>
    {{ if .bestSeller }}
      <b class="product-bestseller">Bestseller</b>
    {{ end }}

    {{ if .beginner }}
      <span class="product-beginner">Beginner</span>
    {{ end }}

    {{ if .intermediate }}
      <span class="product-intermediate">Intermediate</span>
    {{ end }}
    | Delivered by
    {{ range .creators }}
    <a href="{{ .contactLink }}" target="_blank"><b>{{ .name }}</b></a>
    {{ end }}
  </p>
  <p>
    {{ if .rating }}
    {{ partial "products/render-stars.html" .rating }}
      {{ if .ratingCount }}
        ({{ .ratingCount }} ratings)
      {{ end }}
    {{ end }}

    {{ if .studentsCount }}
      {{ .studentsCount }} students
    {{ end }}
  </p>
  <p>
    <span class="bi bi-exclamation-circle-fill"></span> Last updated: {{ .lastUpdated }} |
    <span class="bi bi-globe"></span> {{ .language }} |
    <span class="bi bi bi-clock"></span> <b>{{ .validity }}</b> Access.</br>
  </p>
</div>

{{ end }}
