{{ with . }}

<div class="prod-description">
  {{if .previewVideo}}
  <video style="max-width:100%" autoplay loop>
    <source src="{{.previewVideo}}" type="video/mp4">
     Your browser does not support the video tag.
  </video>
  {{end}}
  <p>
    {{ .description | markdownify }}
  </p>
  </br>
  <p>
    {{ if .bestSeller }}
      <b class="product-bestseller">Bestseller</b>
    {{ end }}

    {{ if .beginner }}
      <span class="product-beginner">Beginner</span>
    {{ end }}

    {{ if .intermediate }}
      <span class="product-intermediate">Intermediate</span>
    {{ end }}
    | Delivered by
    {{ range .creators }}
    <a href="{{ .contactLink }}" target="_blank"><b>{{ .name }}</b></a>
    {{ end }}
  </p>
  <p>
    {{ if .rating }}
    {{ partial "products/render-stars.html" .rating }}
      {{ if .ratingCount }}
        ({{ .ratingCount }} ratings)
      {{ end }}
    {{ end }}

    {{ if .studentsCount }}
    <span class="product-intermediate">{{ .studentsCount }}</span> students enrolled.
    {{ end }}
  </p>
  <p>
    <span class="bi bi-exclamation-circle-fill"></span> Last updated: {{ .lastUpdated }} |
    <span class="bi bi-globe"></span> {{ .language }} |
    <span class="bi bi bi-clock"></span> <b>{{ .validity }}</b> Access.</br>
  </p>
</br>
</div>
{{ end }}
