{{ with . }}

<div class="button-cta align-in-center">
  {{if .discount}}
  <div class="discount">
    {{if .discount.code}}code <span class="discount-code">{{.discount.code}}</span> (<b>{{.discount.percentage}} off</b> on Yearly).<br/><b id="countdownBottom"></b>!!{{end}}
  </div>
  {{end}}
  {{ range .enroll }}
    {{if .disabled}}
    <a class="btn" href="#" target="_blank">
      <button class="btn-disabled">
        <span class="bi"></span>
        {{.plan}} (Slots Full)
      </button>
    </a>
    {{else}}
    <a class="btn" href="{{ .link }}" target="_blank">
      <button class="btn-{{.plan}}">
        <span class="bi"></span>
        {{.plan}}
      </button>
    </a>
    {{end}}
  {{ end }}
</div>
{{ end }}
