{{ with . }}

<div class="button-cta align-in-center">
  {{if .discount}}
  <div class="discount">
    {{if .discount.code}}code <span class="discount-code">{{.discount.code}}</span> for <span class="discount-code">{{.discount.percentage}} discount</span> on Yearly. Expires in <b class="discount-code" id="countdownBottom"></b>!!{{end}}
  </div>
  {{end}}
  {{ range .enroll }}
  <a class="btn" href="{{ .link }}" target="_blank">
    <button class="btn-{{.plan}}">
      <span class="bi"></span>
      {{.plan}}
    </button>
  </a>
  {{ end }}
</div>
{{ end }}
