{{ with . }}

<h2>Instructors</h2>
{{ $creatorCount := len .creators }}
<div class="creators-card-collection">

{{ range .creators }}
  <div {{if eq $creatorCount 1}}
    class="creators-info-card-single"
    {{else}} class="creators-info-card"
    {{end}}>
    <div class="creators-meta">
      <img class="creators-photo" src="{{.photo}}">
      </img>

      <div class="creators-data">
        <a class="creators-name" href="{{.contactLink}}" target="_blank">{{ .name }} </a>
        <div class="creators-designation"> {{ .designation }} </div>
      </div>
    </div>
    <div class="creators-bio"> {{ .bio }} </div>
  </div>
{{ end }}
</div>
{{ end }}
