{{ with . }}

<h2>What you Learn</h2>

{{/*  Move this elsewhere!  */}}
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1053034983?h=5b7a861bb5&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Course Introduction"></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
<p></p>

<div class="prod-what-u-learn">
  {{ range .learning }}
  <div class="prod-what-u-learn-point">
    <div class="bi bi-check2 prod-what-u-learn-tick"></div>
    <div>{{ . }}</div>
  </div>
  {{ end }}
</div>
{{ end }}
