{{ with . }}
{{/*  Move this elsewhere!  */}}
<h2>Sneak Peek!</h2>
<p>
<b>What are the preconditions to getting the CPU to jump to C code (from assembly)?</b>
In this video snippet from the course I explain how to convert the C code to assembly in an attempt to reason how we can get the CPU to jump from initial assembly based startup code to C function...
</p>
<div class="video-player">
  <video controls poster="{{.previewCover}}" width="100%" controls>
    <source src="{{.previewVideo}}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
{{ end }}
