{{ with . }}

<h3>Preview Lectures</h3>
<p>
  I have composed a nice playlist on YouTube including the first 12 Lectures. You can watch those and get a feel for the course :)
</p>
<div class="video-player">
  <iframe style="aspect-ratio: 16 / 9; width: 100%;" src="https://www.youtube.com/embed/videoseries?si=tQyCN5Ai0NB8Qjz7&amp;list=PLTbERlX_4R03PpUhJJ-f1cTC-Y_tLucHZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<p>
  If you watched the videos, you'll notice that I tend to repeat the concepts several times, I try to hit the same concept using different examples, words and keywords. My intention with such explanation is that you do not have to take the efforts to remember anything.
</p>
{{ end }}


