{{ with . }}

<h2>contents and preview lectures ...</h2>
<div class="dropdown-container">
{{ range .sections }}
  <!-- sections list -->
  <p id="{{.id}}"></p>
  <details class="dropdown-listing" {{ .open }}>
    <summary class="dropdown-summary">
      <div class="section-name">
        {{ .section }}
      </div>
      <div class="section-meta">
        {{ .sectionDuration }}
      </div>
    </summary>
    <p class="section-description">{{.description}}</p>

    {{ range .chapters }}
    {{ partial "products/chapter-name-render.html" . }}
    {{ end }}
    <!-- use para tags for space at the end -->
    <p></p>
  </details>
{{ end }}
</div>

{{ end }}
