#brand .icon {
  width: 125px !important;
}

#root {
  max-width: 1024px !important;
}

#newsletter {
  border-top-style: solid;
  border-width: 2px;
  text-align: center;
}

figcaption {
  margin-top: 10px !important;
}

button {
  background-color: #FFE15C;
  border: solid 1px;
  color: black;
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 1.125em;
  font-family: monospace;
  font-weight: 600;
}

.align-in-center {
  text-align: center;
}

.btn {
  text-decoration: none !important;
}

button:hover {
  box-shadow: 0px 0px 2px 0px grey;
}

input {
  padding: 5px;
  margin: 5px;
  font-size: 1em;
  border: 1px solid #000000;
  font-family: monospace;
}

#owner {
  font-size: 1em;
  color: cadetblue;
}

.navbar {
  margin: 0px !important;
}

.sidebar {
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  height: fit-content;
  font-size: 0.85em;
}

@media all and (width > 1024px) {
  .post-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 70% 30%
  }

  .post-content {
    grid-column: 1;
  }

  .sidebar {
    border-width: 1px;
    grid-column: 2;
    padding: 10px;
    height: fit-content;
    position: sticky;
    top: 10px;
  }
}

.book-title {
  text-align: center;
}

.cover-image {
  box-shadow: 0px 0px 5px 1px grey;
}

.cover-image:hover {
  box-shadow: 0px 0px 10px 1px grey;
}

#content {
  margin-bottom: 10px !important;
}

/* div.content > figure {
  display: none;
}

div.content > figure > figcaption {
  display: none;
} */

.product-image {
  cursor: pointer;
}

.sidebar-product {
  border-style: solid;
  border-width: 1px;
  height: fit-content;
}

@media all and (width > 1024px) {
  .sidebar-product {
    border-width: 1px;
    grid-column: 2;
    height: fit-content;
    position: sticky;
    top: 10px;
  }
}

.product-body {
  padding: 0 10px 10px 10px;
  font-size: 0.9em;
}

summary {
  cursor: pointer;
}

.course-name {
  font-size: larger;

  padding: 2px;
}

.details-body {
  padding: 0px 0px 20px 20px;
}

.section-list {
  margin-bottom: 10px;
}

.section-name {
  font-weight: bold;
}

.section-description {
  margin-left: 20px;
}
.chapter-names {
  padding-left: 20px;
  color: blue;
}

.chapter-preview {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

@media all and (width > 1024px) {
  .sidebar-product {
    border-width: 1px;
    grid-column: 2;
    height: fit-content;
    position: sticky;
    top: 10px;
  }

  .blog-card {
    border: solid black 1px;
    margin: 5px;
    max-width: 30% !important;
    /* padding: 10px; */
    text-decoration: none;
    cursor: pointer;
    color: var(--fontcolor) !important;
  }

  .blog-card:hover {
    box-shadow: 0px 0px 5px 0px rgb(128, 128, 128);
    text-decoration: none;
  }

  .post-title {
    margin: 0px !important;
    padding: 10px;
    padding-bottom: 0px;
  }

  .post-card-content {
    padding: 0px;
    font-size: 0.9em;

    p {
      padding: 0 10px 0 10px;
    }
  }
}

.blog-card {
  max-width: 100%;
}

.clear {
  clear: both;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
}

