#brand .icon {
  width: 125px !important;
}

#root {
  max-width: 800px !important;
}

#newsletter {
  color:brown;
  text-align: center;
}

figcaption {
  margin-top: 10px !important;
}

button {
  padding: 5px;
}

input {
  padding: 5px;
}

#owner {
  font-size: 0.8em;
  color: cadetblue;
}

.navbar {
  margin: 0px !important;
}
