@media all and (width > 1024px) {
  .post-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 69% 30%
  }

  .post-content {
    grid-column: 1;
  }

  .sidebar {
    grid-column: 2;
    padding: 10px;
    height: fit-content;
    position: sticky;
    top: 10px;
  }

  .blog-card {
    border: solid var(--linecolor) 0px;
    border-radius: 10px;
    margin: 15px;
    max-width: 30% !important;
    text-decoration: none;
    cursor: pointer;
    color: var(--fontcolor) !important;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);
  }

  .blog-card:hover {
    box-shadow: 0px 0px 20px 0px var(--prebgcolor);
    text-decoration: none;
  }

  .post-title {
    margin: 0px !important;
    padding: 10px;
    padding-bottom: 0px;
  }

  .post-card-content {
    padding: 0px;
    font-size: 0.9em;

    p {
      padding: 0 10px 0 10px;
    }
  }

  .prod-what-u-learn-point {
    min-width: 50%;
    max-width: 50%;
  }

  .bullet-point {
    min-width: 50%;
    max-width: 50%;
  }

  .info-card {
    min-width: 45%;
    max-width: 45%;
  }

  .button-cta {
    /* display: none; */
  }

  .sidebar-product {
    position: sticky;
    border-radius: 10px;
    top: 10px;
    display: block;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
    height: fit-content;
    grid-column: 2;

    a {
      img {
        border-radius: 10px 10px 0px 0px;
      }
    }
  }

  .compare-table {
    display: flex;
    justify-content: center;
  }

  .compare-tick {
    font-size: 2em;
  }
}
