{{ define "main" }}
  <main>
    <article>
      <h1 class="title">{{ .Title }}</h1>
      {{ with .Params.subtitle }}<h3 class="subtitle">{{ . }}</h3>{{ end }}
      {{ partial "postMetaDetailed.html" . }}
      <div class="content post-container">
        <div class="post-content">
          {{ .Content }}
          {{ partial "comments.html" }}
        </div>
        {{ if .Params.product }}
          {{ partial "sidebar.html" (index .Site.Data.courses .Params.product ) }}
        {{ else }}
          {{ partial "sidebar.html" (index .Site.Data.courses "book" ) }}
        {{end}}
      </div>
    </article>
  </main>
{{ end }}
