{{ define "main" }}
  <div class="landingpage-hero">
    <h1>Courses</h1>
    <p>I have taken my love and passion for Low level Engineering and packed it into structured courses. More than <b>517</b> enrolment since launch!</p>
  </div>

  <div class="course-list">
    {{ range .Site.Data.courses }}
    <div class="course-card" href="{{ .enroll }}" >
      <img src="{{.poster}}"/>
      <h4 class="post-title"> {{ .title | markdownify }} </h4>
      <div class="product-subtitle">{{.subtitle | markdownify}}</div>

      {{ if .badges}}
      <div class="product-stats">
        {{ range .badges }}
          {{ if .beginner }}
            <span class="product-beginner">Beginner</span>
          {{ end }}
          {{ if .intermediate }}
          <span class="product-intermediate">Intermediate</span>
          {{ end }}
          {{ if .free }}
          <span class="product-free">FREE!</span>
          {{ end }}
        {{ end }}
      </div>
      {{ end }}

      <div class="product-stats">
        {{ if .bestseller }}
          <span class="product-bestseller">Bestseller</span>
        {{ end }}
        {{ if .rating }}
          {{ partial "products/render-stars.html" .rating }}
        {{ end }}
      </div>

      <div class="course-card-content">
        <p>{{ .description | markdownify }}</p>
        {{ partial "courses/feature-list.html" .content }}
        {{ if .more }}
        <p><a href="{{.more}}">Read more...</a></p>
      {{ end }}
      </div>
      {{if .paybuttonID}}
      {{ partial "products/paybutton.html" .paybuttonID }}
      {{else}}
      <div class="product-cta-button">
        <a class="btn" href="{{.enroll}}" target="_blank">
          <button><span class="bi bi-cup-hot"></span> {{ .ctaText | markdownify}}</button>
        </a>
      </div>
      {{end}}
    </div>
    {{ end }}
  </div>
{{ end }}
