.landingpage-hero {
  text-align: center;
}

.courses-container, .showcase-container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.product-showcase {
  grid-column: span 6;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid black; */
}

.product-pitch {
  grid-column: span 4;
  margin: 0px;
  padding: 10px;
  /* border: 1px solid black; */
}

.product-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.product-subsection-title {
  text-align: center;
  font-size: 18px;
  margin: 4px;
}

.showcase-3d {
  background: linear-gradient(135deg, #ff000041, #ffffff2a, rgba(255, 195, 195, 0.393));
  margin: 0px;
}

.short {
  grid-column: span 3;
}

.long {
  grid-column: span 7;
}

.equal {
  grid-column: span 5;
}

.full-width {
  grid-column: span 10;
}

.short, .long, .equal, .full-width {
  /* border: 1px solid black; */
  padding: 10px;
  margin: 0.5%;
  text-align: center;
}

.landing-section-title, .landing-subsection-title {
  margin: 7px;
}

.highlight-title {
  background-color: red;
  color: white;
  padding: 5px;
}

video {
  border: 0px solid black;
}

@media all and (width < 900px) {
  .short, .long, .equal, .product-showcase, .product-pitch {
    grid-column: span 10;
  }
}
