<a class="btn" href="https://engineers.inpyjama.com/learn/c-ninja-book" target="_blank">
  <img class="cover-image" src="/images/cover.png"/>
</a>
<h3 class="book-title"> Low Level with Pyjama Brah!</h3>
<p>
  I am writing a book to teach C by understanding the CPU/Memory programmers model, exploring the ISA for RISC-V, the assembly, writing baremetal firmware/driver, and ends with printing “Hello, World!” on the UART.
</p>
<p>
  The book covers lot more than just C. Things like Assembly, Makefile, GDB based Debugging, Linker Scripts, C, Driver Writing etc… The public draft is available for <b>FREE</b> for online reading.
</p>
<div class="align-in-center">
<a class="btn" href="https://engineers.inpyjama.com/learn/c-ninja-book" target="_blank"><button>Access Now!</button></a>
</div>
