<div id="newsletter">
  <h3>Newsletter</h3>
  <p>
  Stay updated on the technical posts, resources and curated content.
  </p>
<form method="post" action="https://sendfox.com/form/1wpkk0/36yq02" class="sendfox-form" id="36yq02" data-async="true" data-recaptcha="true">
   <input type="email" id="sendfox_form_email" placeholder="Email" name="email" required />
   <input type="text" id="sendfox_form_experience" name="contact_fields[experience]" placeholder="Professional/Student?" />
    <p><input type="checkbox" name="gdpr" value="1" required />
      I agree to receive emails.
    </p>
    <button type="submit">Subscribe! <i class="bi bi-send"></i></button>
  <!-- no botz please -->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
  <div class="google-recaptcha">
    This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.
  </div>
</form>
</div>
