<header>
  <div id="brand">
    <a class="icon-link" href="{{ .Site.BaseURL }}">
      <img
        class="icon"
        src="{{.Site.Params.brandIconFile | relURL }}"
      />
    </a>
    <div class="text">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <h3>{{ default "Description about Blog Author" .Site.Params.subtitle }}</h3>
    </div>
  </div>
  <nav class="navbar">
    <hr />
    {{ with .Site.Menus.main }}
      {{ range $index, $value := . }}
        {{ if $index }} | {{ end }}
        <a {{ if .Pre }} class="menu-special"{{ end }}
           href="{{ .URL | relURL }}"
           {{ if .Pre }} target="_blank" {{end}}><b>{{ .Name }}</b></a>
      {{ end }}
    {{ end }}
    <hr />
  </nav>
</header>
