{{ with . }}
{{ with .Params }}

<a class="btn" href="{{ .param.link }}" target="_blank">
  <img class="product-image" src="{{ .param.image }}"/>
</a>

<h3 class="book-title">{{ .param.product }}</h3>

<div class="product-body">
  <p>{{ .param.description }}</p>

  {{ range .param.keyFeatures }}
  <div class="keyfeature-point">
    <i class="bi bi-check2 prod-content-summary-tick"></i>
    <div> {{ . }} </div>
  </div>
  {{ end }}

  {{ partial "products/paybutton.html" .param.link}}

  {{ if .param.note }}
  <p class="cta-note">
    {{ .param.note }}
  </p>
  {{ end }}
</div>
{{ end }}
{{ end }}
