{{ with .}}
<div class="product-sidebar">
  <a class="product-img-container" href="{{.more}}">
    <img class="product-img" src="{{.poster}}"/>
  </a>

  <div class="product-title">
      {{ .title | markdownify }}
  </div>

  <div class="product-subtitle">
    {{.subtitle | markdownify}}
  </div>

  <div class="product-details">
    <p>{{ .description | markdownify }}</p>
    {{ range .features }}
    <div class="product-feature-point">
      <i class="bi bi-check2-all product-feature-point-text"></i><div> {{ . | markdownify }} </div>
    </div>
    {{ end }}
    {{ if .more }}
    <p>Read <a href="{{.more}}">more...</a></p>
    {{ end }}
  </div>

  {{if .paybuttonID}}
  {{ partial "products/paybutton.html" .paybuttonID }}
  {{else}}
  <div class="product-cta-button">
    <a class="btn" href="{{.enroll}}" target="_blank">
      <button><span class="bi bi-cup-hot"></span> {{ .ctaText | markdownify}}</button>
    </a>
  </div>
  {{end}}
</div>
{{ end }}
