{{ define "main" }}
  <main>
    <article>
      <!-- <h1 class="title">{{ .Title }}</h1> -->
      <div class="content post-container">
        <div class="post-content">
          {{ if .Params.param.bundle }}
            {{ range .Params.param.bundle }}
                <hr/>
                <div class="course-name">
                  <h2 class="course-title">{{ .course }}</h2>
                  <div class="course-subtitle">{{ .subtitle }}</div>
                </div>
                <div class="details-body">
                  {{ partial "products/description.html" . }}
                  {{ partial "products/learning.html" . }}
                  {{ partial "products/content-summary.html" . }}
                  {{ partial "products/sections-list.html" . }}
                  {{ partial "products/requirements.html" . }}
                  {{ partial "products/audience.html" . }}
                  {{ partial "products/compare.html" . }}
                  {{ partial "products/reviews.html" . }}
                  {{ partial "products/certificate.html" . }}
                </div>
            {{ end }}
          {{ end }}
          {{ if .Content}}
            <hr>
            {{ .Content }}
            <hr>
          {{ end }}
          {{ if .Params.param.bundle }}
          {{ range .Params.param.bundle }}
              <div class="details-body">
                {{ partial "products/instructors.html" . }}
                {{ partial "products/faqs.html" . }}
              </div>
          {{ end }}
        {{ end }}
        </div>
        <div class="sidebar-product">
          {{ partial "product.html" . }}
        </div>
      </div>
    </article>
    {{ partial "products/cta.html" . }}
  </main>
  <script>
    /* Hide the Navbar on Product Page */
    const collection = document.getElementsByClassName("navbar");
    collection[0].style.display = "none";
  </script>
{{ end }}

